<%= form_with url: '/inquiries', method: :post do |form| %>
  <%= form.label :question %>
  <%= form.text_area :question %>
  <%= form.submit "Ask GPT" %>
<% end %>

<% if @gpt_response %>
  <div>
    <strong>ChatGPT Response:</strong>
    <p><%= @gpt_response %></p>
  </div>
<% end %>
